{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Simple Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="site-header">
      <div class="container header-inner">
        <a class="nav-link" href="{% url 'signup' %}">Sign up</a>

        <nav class="nav">
          {% if user.is_authenticated %}
          <span class="nav-text">Hi, {{ user.username }}</span>
          <a class="nav-link" href="{% url 'post_create' %}">New Post</a>

          <form
            method="post"
            action="{% url 'logout' %}"
            style="display: inline"
          >
            {% csrf_token %}
            <button
              type="submit"
              class="nav-link"
              style="background: none; cursor: pointer"
            >
              Logout
            </button>
          </form>
          {% else %}
          <a class="nav-link" href="{% url 'login' %}">Login</a>
          <a class="nav-link" href="#">Sign up</a>
          {% endif %}
        </nav>
      </div>
    </header>

    <main class="container">{% block content %}{% endblock %}</main>

    <footer class="site-footer">
      <div class="container">
        <small>Built with Django</small>
      </div>
    </footer>
  </body>
</html>
